{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/index-addpostpage.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
  </head>
  <body class="bg-secondary">


    <div class="container bg-dark rounded mt-4 py-3">
        <div class="d-flex justify-content-between align-items-center p-2 shadow-lg rounded">
            <p class="m-0 fw-bold fs-5 text-white">Home</p>
            <div class="p-1">
              <svg width="35px" height="35px" class=" p-1 bg-info rounded-circle text-white" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M4 12H20M12 4V20" stroke="#efefef" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
            </div>
        </div>
        <!-- agar mikhay loop bezani ino bezan -->
        <div class="container pt-3 pb-2 px-3 my-3 me-2 shadow-lg">
          <div class="rounded d-flex flex-row">
              <div id="prof" class=" d-flex align-items-start justify-content-center" style="width: 10%;">
               <img src="{% static 'images/default.jpg' %}" width="90px" alt="prof">
              </div>
              <div id="postdit shadow-lg"  style="width: 50%;">
                <div class="ms-3 mb-4 text-white" style="width: 70%; font-size: 15px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Egestas purus viverra accumsan in nisl nisi Arcu cursus vitae congue mauris rhoncus aenean vel elit scelerisque In egestas erat imperdiet sed euismod nisi porta lorem mollis</div>
                <div class="text-white d-flex justify-content-start"> 
                    <ul class="d-flex text-decoration-none" style="padding-left: 6px;">
                        <li class="p-2 text-white" style="list-style-type: none;">
                            <i class="fa-regular fa-thumbs-up"></i>
                        </li>
                        <li class="p-2 text-white" style="list-style-type: none;">
                            <i class="fa-regular fa-thumbs-down"></i>
                </li>
                <li class="p-2 text-white" style="list-style-type: none;">
                    <i class="fa-regular fa-star"></i>
                </li>
                <li class="p-2 text-white" style="list-style-type: none;">
                    <i class="fa-regular fa-map"></i>
                                </li>
            </ul>
        </div>
    </div>
    <div class="text-white d-flex justify-content-end" style="width: 40%; font-size: 13px;">last upload 5min ago</div>
          </div>
      </div>

      <!-- agar mikhay loop bezani ino bezan -->
    </div>
    
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    >
  </script>
  </body>
</html>
